[Unit]
Description=EA7KIR SatReceiver service
After=multi-user.target

[Service]
User=pirec

WorkingDirectory=/home/pirec/longmynd/
#WorkingDirectory=/home/pirec

ExecStart=/home/pirec/SatReceiver/.build/debug/SatReceiver

#SuccessExitStatus=143
#TimeoutStopSec=10
#Restart=on-failure
#RestartSec=5

[Install]
WantedBy=multi-user.target

